.image-box {
  /*float: left;*/
  height: 100vh;
  max-width: 20vw;
}

#main-image {
  height: 100%;
}

.main-right {
  float: right;
  position: relative;
  width: 52vw;
}

.logobox {
}

.fa.fa-search {
  font-size: 40px;
}

.btn-group, .btn-group-vertical {
  float: right;
  /*border-color: #611427;*/
  /*background-color: #611427;*/
}

.btn {
  background-color: #611427;
  border-color: #611427;
}

#button-signup {
  background-color: #FFFFFF;
  color: #611427;
}

#button-signout {
  background-color: #FFFFFF;
  color: #611427;
}

#noti {
  float: right;
}

.rounded-circle.border.profile {
  float: right;
}

