.site-header {
  border-bottom: 1px solid;
  border-color: #0a0a0a;
  margin: 1em;
  padding: 1em;
}

.container {
}

img ::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.fa.fa-bell-o {
  float: right;
}

.Thumbnail {
  float: right;
}

.clearfix ::before {
  content: '';
  display: table;
}

.clearfix ::after {
  clear: both;
}

.post-header {
  display: block;
}

.edittime {
  float: right;
  /*position: absolute;*/
  /*right: 20vw;*/
}

.blockquote ::before {
  content: '\201C';
  font-size: 120px;
  color: #0a0a0a;
  position: absolute;
  left: -50px;
  top: -50px;
}

.blockquote {
  display: block;
  /*margin: 0;*/
  position: relative;
  border: 1px solid #0a0a0a;
}

.blockquote ::after {
  content: '';
}

.lead {
  line-height: 1.7em;
  font-size: 2em;
  font-family: Lora, serif;
  width: 33em;
  margin-left: 12.5vw;
}

.tldr-content {
  font-family: 'Montserrat';
  font-size: 2em;
  margin: 0 12.5vw;
  margin-top: 100px;
  border-color: #0a0a0a;
  border: groove;
  padding: 40px;
  padding-left: 2em;
}

.tldr-content-listitem {
  margin-bottom: 0.7em;
}

.image-box {
  /*float: left;*/
  height: 100vh;
  max-width: 20vw;
}

#main-image {
  height: 100%;
}

.main-right {
  float: right;
  position: relative;
  width: 52vw;
}

.logobox {
}

.fa.fa-search {
  font-size: 40px;
}

.btn-group, .btn-group-vertical {
  float: right;
  /*border-color: #611427;*/
  /*background-color: #611427;*/
}

.btn {
  background-color: #611427;
  border-color: #611427;
}

#button-signup {
  background-color: #FFFFFF;
  color: #611427;
}

#button-signout {
  background-color: #FFFFFF;
  color: #611427;
}

#noti {
  float: right;
}

.rounded-circle.border.profile {
  float: right;
}


