.site-header {
  border-bottom: 1px solid;
  border-color: #0a0a0a;
  margin: 1em;
  padding: 1em;
}

.container {
}

img ::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.fa.fa-bell-o {
  float: right;
}

.Thumbnail {
  float: right;
}

.clearfix ::before {
  content: '';
  display: table;
}

.clearfix ::after {
  clear: both;
}

.post-header {
  display: block;
}

.edittime {
  float: right;
  /*position: absolute;*/
  /*right: 20vw;*/
}

.blockquote ::before {
  content: '\201C';
  font-size: 120px;
  color: #0a0a0a;
  position: absolute;
  left: -50px;
  top: -50px;
}

.blockquote {
  display: block;
  /*margin: 0;*/
  position: relative;
  border: 1px solid #0a0a0a;
}

.blockquote ::after {
  content: '';
}

.lead {
  line-height: 1.7em;
  font-size: 2em;
  font-family: Lora, serif;
  width: 33em;
  margin-left: 12.5vw;
}

.tldr-content {
  font-family: 'Montserrat';
  font-size: 2em;
  margin: 0 12.5vw;
  /*margin-top: 100px;*/
  border-color: #DDDCC5;
  /*border: groove;*/
  padding: 40px;
  padding-left: 2em;
}

.tldr-content-listitem {
  margin-bottom: 0.7em;
  text-indent: 1em;
}

#main ::selection {
  background-color: #8D4B4B;
  color: #fff;
}

.tldr-title {
  margin-top: 100px;
  margin-left: 14vw;
  font-size: 2rem;
  font-family: 'Merriweather';
  background-color: #DDDCC5;
  margin-bottom: -18px;
  text-align: center;
  /*width: 8rem;*/
  margin-right: 13vw;
  margin-left: 13vw;
  color: #fff;
  /*border-color: #DDDCC5;*/
  /*border-style: groove;*/
}

.post-content {
  font-size: 1em;
  font-family: Lora, serif;
  width: 69em;
  margin-left: 12.5vw;
}

.tldr-foot {
  margin-left: 14vw;
  font-size: 2rem;
  font-family: 'Merriweather';
  background-color: #DDDCC5;
  /*margin-bottom: -30px;*/
  margin-top: -30px;
  text-align: center;
  /*width: 8rem;*/
  margin-right: 13vw;
  margin-left: 13vw;
  color: #fff;
  /*border-color: #DDDCC5;*/
  /*border-style: groove;*/
  height: 20px;
}

.thumbnail-bar {
  margin-top: 6px;
}

.head-title {
  font-size: 4em;
  font-family: Merriweather, serif;
  /*width: 1300px;*/
  margin-top: 1em;
  margin-bottom: 0.3em;
  margin-left: 6.35vw;
  font-size: 3em;
  padding: .75em 0;
  border-radius: 0.4em;
  background: linear-gradient(to right, #fff, #fff, #dddcc5);
  padding-left: 0.4em;
}

.tldrinput :focus {
  border: 1px solid red !important;
  box-shadow: 0 0 10px #719ECE !important;
}

.tldr-content>.tldr-content-listitem :before {
  color: inherit;
  font-weight: normal;
  display: flex;
  flex: none;
  align-items: flex-start;
  justify-content: flex-end;
  padding-right: 0.8em;
}

.head-link {
  font-size: 1em;
}

.head-edittime {
  float: right;
  overflow: hidden;
}

.head-auhtor {
  font-family: Montserrat, sans-serif;
  max-width: 880px;
  word-break: break-word;
}

.btn-group, .btn-group-vertical {
  float: right;
  top: -15px;
  right: 0;
  width: 160px;
  height: 25px;
  color: #DDDCC5;
}

.btn {
  background-color: #fff;
  border-color: #DDDCC5;
  color: #958976;
  font-size: 10px;
}

.author {
  margin-left: 6.35vw;
  font-size: 1.6em;
  margin-top: 30px;
  display: flex;
}

.image-box {
  /*float: left;*/
  height: 100vh;
  max-width: 20vw;
}

#main-image {
  height: 100%;
}

.main-right {
  float: right;
}

.highlight-box-1 {
  z-index: 9000;
  right: unset;
  left: 0;
  top: 0;
  bottom: unset;
  position: absolute;
}

.highlight-box-2 {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(350px,600px,0);
  box-sizing: border-box;
  margin-bottom: 0.5em;
  border-radius: 4px;
}

.highlight-box-3 {
  transform-origin: center bottom 0px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.highlight-box-btngrp {
  white-space: nowrap;
  padding: 8px 0;
  display: inline-block;
}

.btn-primary:hover {
  color: #fff;
  background-color: #DE1738;
  border-color: #DE1738;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #DE1738;
  border-color: #DE1738;
}

.search-box {
  font-size: 4em;
  font-family: Merriweather, serif;
  /*width: 1300px;*/
  margin-top: 1em;
  margin-bottom: 0.3em;
  margin-left: 6.35vw;
  margin-right: 7vw;
  font-size: 2.5em;
  padding: 0;
  background-color: #fff;
  border-bottom-style: solid;
  border-bottom-color: #DDDCC5;
  border-bottom-width: 1px;
  padding-left: 0.4em;
  position: relative;
  height: auto;
}

.icon-box {
  font-size: 4em;
  font-family: Merriweather, serif;
  /*width: 1300px;*/
  margin-top: 1em;
  margin-bottom: 0.3em;
  margin-left: 6.35vw;
  margin-right: 7vw;
  font-size: 2.5em;
  padding: 0;
  background-color: #fff;
  padding-left: 0.4em;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-color: #DDDCC5;
  border-bottom-width: 1px;
}

.name-box {
  font-family: Merriweather, serif;
  /*width: 1300px;*/
  margin-top: -0.2em;
  /*margin-bottom: 0.3em;*/
  margin-left: 6.35vw;
  margin-right: 7vw;
  font-size: 2.5em;
  padding: 0;
  background-color: #fff;
  padding-left: 0.4em;
  position: relative;
  height: auto;
  display: flex;
  justify-content: space-around;
  border-bottom-style: solid;
  border-bottom-color: #DDDCC5;
  border-bottom-width: 1px;
}

#subbox {
  font-size: 1rem;
  font-family: 'roboto';
  margin-bottom: 0px;
  display: flex;
  /*justify-content: space-between;*/
}

.flex-item-gnb {
  margin-left: 10px;
}

.fa.fa-search {
  font-size: 40px;
}

.flex-container {
  display: flex;
  flex-grow: 1;
}

.flex-item {
  flex-grow: 1;
}

#others {
  position: absolute;
  /*float: right;*/
  height: 80%;
  background: #611427;
  width: 10px;
  left: -0.4em;
}

#title {
  margin-bottom: 0;
}

#toolbox {
  position: absolute;
  height: 90%;
  float: right;
  border: solid;
}

#test {
  display: flex;
}

#nametag {
  font-size: 15px;
  font-family: 'roboto';
  display: flex;
  justify-content: space-around;
  margin-left: 6.35vw;
  margin-right: 7vw;
  margin-bottom: -10px;
  padding-left: 16px;
}

#button-signup {
  background-color: #FFFFFF;
  color: #611427;
}

#button-signout {
  background-color: #FFFFFF;
  color: #611427;
}

#noti {
  float: right;
}

.rounded-circle.border.profile {
  float: right;
}

*:focus {
  outline: none !important;
}

#iconbox {
  width: 20%;
}

#date {
}

